.kategori-page {
    padding-bottom: 10px;

    section.content {

        .card {

            .card-body {
                display: flex;
                flex-direction: column;
                gap: 10px;
                
                .input-group {
                    display: flex;
                    flex-direction: column;
                    gap: 3px;
                    width: 100%;
                    
                    input {
                        width: 100%;
                    }

                    small.error {
                        margin-left: 5px;
                        color: red;
                    }
                }
                
                .button-container {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;

                    button {
                        max-width: 320px;
                    }
                }

            }
        }
    }

}